[2016-09-06 03:43] adamhsparks opened #1 "Review sections"
I've made a nascent attempt at outlining the document.

Are the sections I've proposed acceptable or do we need more or less?

[2016-09-06 03:48] adamhsparks opened #2 "Document content"
I've started filling in some content into the outline. I'm aware that I'm probably too R-centric, reproducible research does not revolve around R or scientific computing, however, these tools do make it much easier.
## Best Practices

We need some good best practices for research from field level to _in silico_.
## Examples/the State of RR in Plant Pathology

I've started filling in with my own wo

[2016-09-06 03:49] adamhsparks opened #3 "Dividing up the work"
How to organise our efforts for writing this manuscript?

[2016-09-06 03:51] adamhsparks commented on #3
I've started the outline, (finally) sorry for the lengthy delay, and added a few issues for comment.

To start with, can everyone comment on the document structure and proposed sections? https://github.com/adamhsparks/Reproducible-Research-in-Plant-Pathology/issues/1

Then, once we've agreed on that, let's divide the tasks for writing from there, using this Issue #3.

[2016-12-05 22:25] adamhsparks commented on #1
I'm assuming everyone is OK with the outline I provided some time ago.

From the e-mail exchanges it seemed so.

[2016-12-05 22:28] adamhsparks commented on #2
I've started trying to devise a randomised method of systematically selecting articles for review to see if they are reproducible, https://github.com/adamhsparks/Reproducible-Research-in-Plant-Pathology/tree/master/src

I've not yet tried this methods, I've just been working toward devising it and getting it set up.

Thoughts?

[2016-12-07 21:03] zachary-foster commented on #1
Hi @adamhsparks, sorry for the inactivity on my part. There has been a lot going on lately.

Is the outline you are referring to here: https://github.com/adamhsparks/Reproducible-Research-in-Plant-Pathology/blob/master/What%20Does%20Reproducible%20Research%20Mean%20for%20Plant%20Pathology.Rmd?

If so, I think this is a good structure. Basically, I think we should define a set of criteria for what

[2016-12-07 21:07] zachary-foster commented on #2
I like that you are using R scripts to make the article selection. Very reproducible! This seems like a good way to go about it to me.

 I think we should exclude them from the sample, especially reviews.

[2016-12-08 19:25] emdelponte commented on #2
This is very good Adam. Glad to hear good news and see some progress. I am about to finish the semester next week and will definitely dedicate time for this project.

I liked the way you created to handle the sampling of articles and agree with Zachary that we should skip reviews and other non-full articles. As I understand from now on we should go after the articles to scrutinize and build anothe

[2016-12-08 20:21] adamhsparks commented on #2
@zachary-foster, thanks for the feedback. I agree, skip the reviews. However, I'm looking for a specific plan, e.g., "When we encountered a review article, we omitted it and went to the following article in the same journal issue." Thoughts?

@emdelponte, Yes, extraction will be manual. You'll see that I've started making a list of them, I'll tidy it up and keep it in the Rmd/md file.

[2016-12-08 22:21] emdelponte commented on #2
@adamhsparks that is exactly my initial thought on how to skip the non-target articles

Shall we define a common set of variables to extract from each article to populate the table? any thoughts on these variables/questions? e.g. is code presented as supplemental? are raw data available? something like that.

[2016-12-08 22:26] emdelponte commented on #2
OK. I saw the suggestions of categories by @zachary-foster in the other issue opened. I am learning how to work in this environment :)

[2016-12-09 03:31] adamhsparks commented on #1
This is good feedback, @zachary-foster. I agree with your start here, it's something that we need, the metrics with which to measure the reproducibility.

I'll think on it some more too, but this is a great start.

[2016-12-11 01:17] emdelponte commented on #2
I was glancing over the list of journals ranked by Google and the randomization process. I have different thoughts after seeing the results and our discussion on the article types to target.

Since we are planning to submit this manuscript to a typical/traditional plant pathological journal (Phytopathology) that encopasses all aspects (from molecular to landscape level), we  need to perform an exp

[2016-12-11 03:22] adamhsparks commented on #2
@emdelponte, thanks for your thoughts. I had some of those same thoughts as well, but wasn't aware of the Scopus ranking.

I agree with you on this. Let's improve our selection methods to be more representative of the journals of interest. I picked 100 just on the assumption that journals publish an average of 10 articles/issue and trying to find something statistically sound so we could actually

[2016-12-11 23:06] adamhsparks opened #4 "Rmd vs md files"
@emdelponte, I've set up the Rmd files to knit GitHub md files, there is no need to delete them.

Rather, we should knit README.Rmd to create the README.md file in the /src directory. That will create the final output, README.md, showing the lists and other results of our methodology. This way when you go into the /src directory it will automatically display that file.

[2016-12-11 23:08] zachary-foster commented on #4
opps, wrong button, did not mean to close.

[2016-12-12 00:37] emdelponte commented on #4
@adamhsparks, sorry for the mess and thanks for the explanation. Actually I had cloned this repo and was committing but nothing was happening. Then, I deleted everything in my computer and forked again the right repo (from your account where I collaborate). Since I had set to knit Rmd to create the md files, I thought that I had created those files (assuming they were not there) and that is why I

[2016-12-12 01:27] adamhsparks commented on #4
@emdelponte, no worries mate! I know you're still learning your way around GitHub and that's also one of the best things about it. We don't lose anything in the process, we can always roll back a commit if we need to.

cheers!

[2016-12-12 02:55] #4 closed

[2017-03-02 09:49] adamhsparks commented on #2
@emdelponte, @zachary-foster I'm finally getting back around to thinking about this after Christmas. It's been a long break and I'm in the middle of annual reports at the moment, but let's get this thing settled and written by June? Is that feasible? It's been too easy to ignore without any deadlines...

[2017-03-03 12:09] emdelponte commented on #2
@adamhsparks welcome to the long break of Dec-Feb (Summer!). I was on vacation during January and had two big tasks to accomplish in February: submit a paper to the Focus Issue on Epidemiology and organize the Tropical Fusarium Workshop. Now I am ready to begin classes next week, but will definitely work you and @zachary-foster  on this. You are right - is quite easy to stick with other things (an

[2017-03-03 17:04] zachary-foster commented on #2
@adamhsparks,

 June seems reasonable. Once we define a set of variables to quantify reproducibility and a selection of papers, things should be relatively straight forward.

@emdelponte,

Seems like a good idea if we want to make statements about individual journals.

Can we assume the journals we pick are actually representative without looking at other journals in the area? If we take this appr

[2017-03-03 20:38] emdelponte commented on #2
@zachary-foster

Journals in the field of plant pathology (or closely-related such as Crop Protection) are not that many, if we want to focus on those that are specific to the field - assuming we want to address this to the plant pathology community. These journals will  fall in the categories you mentioned (IF, applied, fundamental, country of authors, etc). Your suggestion of assigning articles

[2017-03-05 03:57] adamhsparks commented on #2
@zachary-foster and @emdelponte, I finalised my report yesterday afternoon and am off to the International Temperate Rice Conference early tomorrow. But I'll try to give this some though this week and share ideas.

[2017-03-14 21:30] adamhsparks commented on #2
@zachary-foster, I agree with your assessment about naming individual journals. Let's categorise articles as you suggested.

What categories can we use? Broadly we could say there are:
  * applied plant pathology, e.g. plot experiments in the field and glass/screenhouse);
  * computational plant pathology, e.g. modelling, bioinformatics, etc.;
  * molecular plant pathology, e.g. identification and

[2017-03-16 01:46] adamhsparks commented on #2
@zachary-foster, I'd expect there to be overlap as well. I don't think that's an issue, but we need to have some clear definitions of how we categorise them.

[2017-03-22 01:54] adamhsparks commented on #2
Since we all seem to be in agreement about the categories, [can we divide it up](https://github.com/adamhsparks/Reproducible-Research-in-Plant-Pathology/issues/3)?

I'd like to move the discussion over to that issue now, please.

[2017-03-22 01:55] adamhsparks commented on #3
How would you guys like to divide up the work?

I'd like to just assign a category to each of us and then we can get started looking for articles. We should have a list to make sure that if there is overlap, we're capturing all aspects.

[2017-03-23 17:22] emdelponte commented on #3
@adamhsparks yes, good idea. Which ones are mine? how many do we have? we need to move this forward. Need a list of other variables to capture from the journals  (IF, country, page charges, Open/restricted access,  issues/year, presence/absence of instructions encouraging reproducibility, presence/absence of supplementary material section, etc)  and from the articles. Are we going to focus on the

[2017-03-23 17:59] zachary-foster opened #5 "Decide on attributes of papers to recorded"
Here is a start based on our previous discussions, but we should put this in an Rmd.

### Paper attributes

* Raw data accessibility:
   * online
   * publicly accessible (i.e. dont have to email anyone, have an account anywhere, or pay anything)
   * well annotated so its understandable independent of the methods/paper
* Computational methods:
   * publicly accessible (i.e. dont have to email any

[2017-03-23 17:59] zachary-foster opened #6 "Decide on article selection method"
I like what @adamhsparks did  [here](https://github.com/adamhsparks/Reproducible-Research-in-Plant-Pathology/tree/master/src). Any other ideas?

[2017-03-23 18:00] zachary-foster commented on #3
@adamhsparks

I liked how you randomly selected articles [here](https://github.com/adamhsparks/Reproducible-Research-in-Plant-Pathology/tree/master/src). With a few modifications, I think this is the best way to select articles. I think we should then randomly assign papers to each of us. If we each looked at a category, then the person looking could be a confounding factor with category.

@emdelp

[2017-03-23 19:36] emdelponte commented on #5
@zachary-foster and @adamhsparks

I suggest that we focus only on a selected set of journals (our expert judgment or asking others to review would suffice), which are the primary choice for most plant pathologists - recall that we will be submitting this potential manuscript to the leading plant pathology journal. I made a quick list below based on Adam's previous selection.

Given that most are a

[2017-03-23 23:36] zachary-foster commented on #5
@emdelponte

Im fine with that, as long as the articles are selected randomly.

Yea. Perhaps we should be categorizing individual articles as e.g. "applied" vs "molecular", instead of the journal. Many journals would accept both types of articles (e.g. PlosONE).

Do you mean scrutinize the journals in order to determine journal attributes or that we each get seven journals to read papers from? If

[2017-03-24 00:22] emdelponte commented on #5
@zachary-foster @adamhsparks

I liked this simplification and categorization at the article  rather than the journal level - Both types will definitely be found in a same journal. Both levels can be used. We will have a better sense of the categories at the article level during the work. This could include pathogen description, population biology, epidemiology, management, etc. so that we could id

[2017-03-24 01:05] adamhsparks commented on #5
This was my original intent

[2017-03-24 16:30] grunwald opened #7 "Make me collaborator"
Hi Adam, please add me as a collaborator to this repository. Thanks!

[2017-03-24 22:53] adamhsparks commented on #7
Hi Nick,
You've been invited, you've just not accepted the invite yet. :)

Let me know if this works: https://github.com/adamhsparks/Reproducible-Research-in-Plant-Pathology/invitations

[2017-04-03 01:51] adamhsparks commented on #7
@grunwald did this work or do I need to try again?

[2017-04-03 02:42] adamhsparks commented on #5
@zachary-foster @emdelponte @grunwald
I'm finally getting back around to this and will dedicate some time this week to this work. From what I read here, you guys have captured my original ideas and clarified them much better than I had managed to.

My take on this is that we need to decide on our journals we're sampling from, the list @emdelponte gave above is a good start. If we drop one from the

[2017-04-03 21:41] emdelponte commented on #5
@zachary-foster @adamhsparks @grunwald

I liked these categories. How do you visualize the data frame? an article per row and how about the columns? and values to assign? binary or ordered scores (e.g. for computational method: 0 - no script; 1 - login needed; 2 - public accessible). Could the final category be decided based on median score?

I vote for removing PLoS from the list - the only not e

[2017-04-03 22:20] adamhsparks commented on #5
@emdelponte, I think that's a reasonable idea, we can assign a value to the categories as you've suggested. I've updated my previous comment with scores based on 0-3 as you've suggested. A gold score would be 6 in this case and silver would be 4, but there might be 5s depending on data vs computational methods, etc.

I second removing PLoS from the list and agree with skipping non-plant pathology

[2017-04-04 00:59] zachary-foster commented on #5
I have adapted the paper attributes with the 4-score system and put it in an Rmd so we can refine it better. Check it out here:

https://github.com/adamhsparks/Reproducible-Research-in-Plant-Pathology/blob/master/reproducibility_criteria.Rmd

@adamhsparks

I think we should select the articles from all the journals first and then split them up randomly, independent of journal, otherwise the person

[2017-04-04 01:24] adamhsparks commented on #5
Agreed

I've edited the Rmd file to include the example tibble with @zachary-foster's updated suggestions for reproducibility categories

https://github.com/adamhsparks/Reproducible-Research-in-Plant-Pathology/blob/master/reproducibility_criteria.Rmd

[2017-04-04 04:26] adamhsparks opened #8 "Getting the references into our tidy data frame in R"
I did some checking, we can save ourselves some typing.

[Zotero](https://www.zotero.org) will export a CSV file of a .bib file. We can import that into R and select the columns that we need from that file. That should greatly simplify our typing data in and cut down on possible data entry errors.

JabRef will do this too, but doesn't appear to export the DOI field.

[2017-04-04 04:28] adamhsparks commented on #6
Since no one else has suggested otherwise, let's use my method and adjust the numbers as necessary.

[2017-04-04 14:32] grunwald commented on #2
Hi folks, sorry to join the conversation late. @zachary-foster alerted me to the issues and now I am included. Instead of selecting journals we could also cull the literature using google scholar searching for 'plant pathogen'?

[2017-04-04 14:35] grunwald commented on #3
I think we should select a random subset of 200 papers including terms  'plant pathology'?

[2017-04-04 14:37] grunwald commented on #5
While SAS is finally free, one cannot reproduce publication ready graphs in SAS. So SAS should get a lower score. Also, code is not open source and cannot be improved by SAS user community.

[2017-04-04 14:38] grunwald commented on #5
For Crop Protection, one should skip articles that do not deal with plant disease.

I would include PLOS indirectly by selecting 'plant pathology' articles randomly?

[2017-04-04 14:40] grunwald commented on #5
I like the 0 (no code) to 3 (fully Open Source code)

[2017-04-04 14:45] grunwald commented on #6
I suggest excluding review articles. Selecting plant pathology articles and randomly selecting 20 papers each by a few tiers of IF might work?

IF tiers:
- 0-1
- 1-2
- 2-3
- 3-5
- > 5

[2017-04-04 14:46] #7 closed

[2017-04-04 14:48] zachary-foster commented on #8
Sounds great!

[2017-04-04 14:48] emdelponte commented on #3
@grunwald the original idea was to get a sample (20 articles) from all journals that focus on plant pathogens/diseases - assuming we will be targeting Phytopathology. When using Google Scholar, how to decide on what to pick in view of the huge number of results that we will get? Results are provided and ordered by google's algorithm and so biased towards impact, relevance, etc. The 20 journals are

[2017-04-04 14:54] zachary-foster commented on #5
I think a score of 2 sounds about right. Its easily available, but proprietary. Not being open source makes it less reproducible even if it is free (e.g. you don’t know how a change in version would affect results or the details of how algorithms are implemented).

[2017-04-04 14:55] grunwald commented on #3
@emdelponte, I like your approach given that making sure we focus heavily on traditional plant pathology journals will cover our community of peers and provide impetus to become more open. My approach would dilute this. Let's go with your list of journals ...

[2017-04-04 14:55] emdelponte commented on #8
Here is what I have used in one of my projects to produce authorship network and word cloud.

Mendeley -> XML -> R data frame

library(XML)
sad_xml<-xmlParse("conferido.xml")
sad <- xmlToDataFrame(nodes = getNodeSet(sad_xml, "//record"))

[2017-04-04 14:57] grunwald commented on #5
Also keep in mind that SAS is not OA code. Also, cannot produce graphs for publication. Free <> Open.

[2017-04-04 20:30] adamhsparks commented on #5
Yes, free != open, that's why I raised the issue.

@grunwald is right, I'd forgotten that you can't make graphs for publication. That is part of being reproducible. Maybe that does warrant a lower ranking? I don't want to be seen as saying "SAS is bad" to use, but...

[2017-04-04 20:35] adamhsparks commented on #6
I think that selecting based on IF might leave us with alot more in some than others.

This is spilling over a bit from #3. The intent of this issue was to determine the actual mechanism we used, I've written an Rmd file that illustrates random sampling of articles. It's not perfect, we'll end up with reviews (I agree with excluding review articles) and some that aren't plant pathology from _Crop

[2017-04-10 04:46] adamhsparks commented on #5
It seems that we are happy with this scale, let's move forward using this and see how we go, also, I don't have any other journal attribute suggestions to make either, so we can record those as well.

[2017-04-10 06:44] adamhsparks commented on #6
I've updated our journal sampling methods to include 200 articles from the 20 journals that @emdelponte suggested.

I've assigned each of us to 50 random articles and sorted the list of articles by our names.

https://github.com/adamhsparks/Reproducible-Research-in-Plant-Pathology/tree/master/src

@emdelponte, are all articles in Revista Mexicana de Fitopatología fully bilingual?

[2017-04-10 14:14] grunwald commented on #6
@adamhsparks, thanks for getting articles assigned to us! Time to get to work ... Can we get the doi for each article assigned to us?

[2017-04-10 14:29] emdelponte commented on #6
@adamhsparks yes, looks like all of them are in both languages, side by side! at least from 2012 which are freely available at their website.

If I understood correctly, we should pick the article for which the page interval contains the randomly selected page, correct? For example, for this one on Revista Mexicana de Fitopatologia assigned to me (2014, 98) the page interval was 89 to 107. However

[2017-04-10 20:22] adamhsparks commented on #6
@grunwald, I'll see what I can do to get DOIs for everyone and put them in the same markdown file.

@emdelponte, yes, I think that's the best strategy for reviews or other that might not apply, take the next one in the issue. If it's the last one, then take the one before. Just document what was done.

[2017-04-11 01:38] adamhsparks commented on #5
As I'm going through this list that @emdelponte proposed, MPMI isn't listed here.

I think I need to rerun our list and add MPMI in, that's a pretty big journal to omit.

[2017-04-11 03:53] adamhsparks commented on #5
@emdelponte, I am not finding a "Journal of Plant Virology" as you have suggested.

I've elected to go with http://www.virologyj.com/sections/plant for these articles.

[2017-04-11 10:19] emdelponte commented on #5
@adamhsparks oops! it seems you found the right name!  there is also Archives of Virology, but we should be OK with one representative of the field.

 I agree with including MPMI.

[2017-04-11 10:43] adamhsparks commented on #5
I'm almost done with the list. I'll finish up this evening and make a commit with our assigned articles.

[2017-04-11 12:07] adamhsparks opened #9 "Assigned articles, bibliography and notes"
I've made a good start on this, but am not quite done, I hope to finish this tomorrow (Wed. my time).

All references are in the [/data/Journals_for_review.bib](https://github.com/adamhsparks/Reproducible-Research-in-Plant-Pathology/blob/master/data/Journals_for_review.bib) file

Our assignments (complete but not in repository yet) will be in [Article_notes.csv](https://github.com/adamhsparks/Repr

[2017-04-11 23:26] adamhsparks commented on #9
I guess I'll be reproducing what I did last night.

I had a CSV file with all of our names and the DOIs of the assigned articles along with notes about how the article was assigned to us only to find that I managed not to save the final version, I guess? Time Machine doesn't even have any copies for me. This will take me a few days now. I'm absolutely stuffed with another obligation today/tomorrow

[2017-04-23 11:25] adamhsparks commented on #9
OK, I think I've sorted everything.

I've turned the repository into an R package. In the `inst/paper` directory you'll find a CSV file, [article_notes.csv](https://github.com/phytopathology/Reproducible.Plant.Pathology/blob/master/inst/paper/article_notes.csv), which has our assignments and DOIs for articles that provide them.

The vignettes have the details how this was created, it's also an .Rd

[2017-04-23 23:22] adamhsparks commented on #1
Closing this as I think we're pretty well settled here.

See: https://github.com/phytopathology/Reproducible.Plant.Pathology/blob/master/vignettes/reproducibility_criteria.Rmd for the agreed on methods of measuring reproducibility

[2017-04-23 23:22] #1 closed

[2017-04-23 23:23] adamhsparks commented on #5
Closing this to clean up issues.

See: https://github.com/phytopathology/Reproducible.Plant.Pathology/blob/master/vignettes/reproducibility_criteria.Rmd for reproducibility criteria

See: https://github.com/phytopathology/Reproducible.Plant.Pathology/blob/master/vignettes/Assigning_Articles.Rmd for article assignments for each of us

[2017-04-23 23:23] #5 closed

[2017-04-23 23:24] adamhsparks commented on #3
See [Article Selection Methods and Evaluator Assignments](https://github.com/phytopathology/Reproducible.Plant.Pathology/blob/master/vignettes/Assigning_Articles.Rmd)

[2017-04-23 23:25] adamhsparks commented on #6
See [Article selection method and evaluator assignments](https://github.com/phytopathology/Reproducible.Plant.Pathology/blob/master/vignettes/Assigning_Articles.Rmd)

[2017-04-23 23:25] #6 closed

[2017-04-23 23:42] adamhsparks opened #10 "Article classifications"
Articles will be classified by the evaluator as to whether they are:
  - Fundamental research
  - Applied research
  - Molecular research
  - Combined

Is there another classification that you would like to use or are these three (or a combination of) enough?

[2017-04-23 23:48] adamhsparks opened #11 "Ideas for analysis"
A few ideas for things to look at in our paper:

- Changes over time (it is only five years but there could be a reasonable trend)
- Reproducibility index by journal, this may be trickier since we may not have enough articles for each journal
- Reproducibility index by article type. I think this could work. See https://github.com/phytopathology/Reproducible.Plant.Pathology/issues/10 for classifica

[2017-05-03 00:12] zachary-foster commented on #9
Hi @adamhsparks. Sorry for the inactiviy on my part. Things are looking great. Nice work putting it all together!

[2017-05-03 00:18] zachary-foster commented on #10
Its hard to say. I expect that we will come up with more and we will need to combine some of them. For example (Molecular and Applied/Fundamental). What if we just treated them like "tags" and made up ones as seems appropriate at the time and then try to consolidated shared themes into categories at the end or only use the most commonly used tags? Alternatively, we could have some master list and

[2017-05-03 00:23] zachary-foster commented on #11
These look good. In addition we can look for corerlations between journal properties and repo index. eg repo index vs impact factor of journal.

Perhaps repo index vs number of citations?

[2017-05-03 02:46] adamhsparks commented on #10
I'm thinking that some sort of master list makes it easier to assemble at the end.

[2017-05-17 03:30] adamhsparks opened #12 "Branches"
I've created branches for everyone following @zachary-foster's lead.

In the three I've created (I've not made any changes to yours, @zachary-foster), I have rearranged the files to that the package passes the build tests. To do that I moved the `article_data.csv` file to `inst/extdata`.

I've also added the missing DOI information to the `doi` field in this file in the branches I created and subs

[2017-05-17 04:16] adamhsparks opened #13 "Fields in `article_data.csv`"
There are some fields in the `article_data.csv` file that are already described elsewhere or can be easily derived from the citation.

However, fields like "country" or "Open_or_Restricted" or "Reproducibility_Instructions" can be interpreted and filled in various ways.

I'd propose the following, tell me if I'm off here, @zachary-foster, since you set them up.

* **country** - Country of publishe

[2017-05-17 04:44] adamhsparks commented on #13
I've added a "Publisher" field as well.

[2017-05-17 06:45] zachary-foster commented on #12
Good idea with the branches. To make the best use of them, I had planed on submitting pull requests so that
we can discuss any large changes, even though we all have the ability to edit master directly. For anyone who might not be used to dealing with branches and pull requests: branches are just alternate versions of the repository. One branch can be combined with another on your local computer u

[2017-05-17 06:48] zachary-foster commented on #12
P.S. we can still use the code in this repository to make the template for the google doc and fill in any information automatically that is present in the bibtex data.

[2017-05-17 06:55] zachary-foster commented on #13
Yea, we should have a document somewhere that says how each field should be filled out in detail.
I like the 3 letter country code. For fields that have only two options, I suggest using TRUE/FALSE and rephrasing the field accordingly. For example "Open_or_Restricted" could be "is_open" or just "open".

Some of the field names are a bit long. Would you mind @adamhsparks if I renamed them to be sho

[2017-05-17 07:16] adamhsparks commented on #12
I was thinking about the branches and having separate files we work in. Merging them shouldn't create conflicts as long as we kept the same headings.

However, the Google Docs approach has merit and there is this: https://github.com/jennybc/googlesheets, so yes, I think that's a better approach for sure. If that's the case, do we need separate branches for our own work?

[2017-05-17 07:17] adamhsparks commented on #13
Be my guest, I agree with that sentiment. Make them boolean and use lowercase throughout.

[2017-05-17 07:23] zachary-foster commented on #12
The googlesheets package looks cool, thanks.

Not necessarily, but I find them useful to discuss major changes since the PR has a diff and an area for comments. Its a lot more work to describe exactly what you did or for others to look through the commit history. If fine with it either way. I had planned on submitting a PR soon for my branch and continuing on master until another big change came u

[2017-05-17 07:24] adamhsparks commented on #12
Let's leave them for possible future use then. No need to remove them yet.

[2017-05-17 07:25] zachary-foster commented on #12
Yea, they are not in the way.

[2017-05-17 07:26] zachary-foster commented on #13
Cool, will do

[2017-05-17 07:38] adamhsparks commented on #13
Impact factor. Should we use most recent or five year? Most recent is probably the easiest to find, from what I'm seeing.

[2017-05-17 07:41] zachary-foster commented on #13
Most recent should be fine if that is easier. IF at the time the article was published might be the best metric, but probably more effort than it is worth

[2017-05-17 07:52] adamhsparks commented on #13
Well, now that I think about it, we're looking at the past five years, the five year impact factor would make the most sense.

Scopus goes back to 2011 right now, but it give CiteScore and not all journals are in the index, _e.g._ Revista Mexicana de Fitopatología. But most of them are I think.

[2017-05-17 07:55] zachary-foster commented on #13
If we can get most of them, that should be fine. 5 year IF sounds good to me

[2017-05-18 07:29] adamhsparks commented on #12
@zachary-foster, I took the changes you started in the vignette, merged them with my branch and now have this using _googlesheets_.

https://docs.google.com/spreadsheets/d/1HzgDMK1Q2GC9KviZIiDvhViG0d8kuzSMeqls8C6fk98/edit?usp=sharing

Still a bit more work to do, but we're well on our way. I'll get that sheet set up for sharing with everyone, gotta go home now.

[2017-05-18 10:49] emdelponte commented on #12
@zachary-foster @adamhsparks I liked this idea of using googlesheets. It will facilitating collaborative editing and there is a solution for integration.

[2017-05-24 01:30] adamhsparks commented on #13
@zachary-foster, I was working with setting up the Rmd file to write to a Google Sheet so I shortened the names in that. I hope that's OK?

[2017-05-24 01:33] zachary-foster commented on #13
Yea, that is fine by me.

[2017-05-24 01:38] adamhsparks commented on #9
I've created a Google Sheets file for our notes.

The first sheet is the template that has the page numbers and initial assignments that I used to create the second sheet where I looked up and entered the DOI.

The second sheet is the sheet I've used to enter the DOI values and is imported back to R to create the third sheet with the manuscript information

The third sheet is the sheet where we en

[2017-05-24 14:23] emdelponte commented on #9
thanks @adamhsparks I will start collecting data from the articles and populating the sheet. Do we have full description of the variables somewhere? perhaps adding as comment for each variable in sheet may facilitate?

[2017-05-24 20:23] adamhsparks commented on #9
I can add comments to the cell headings. Zach and I discussed the headings
in https://github.com/phytopathology/Reproducible.Plant.Pathology/issues/13
but we never did finish a full description of all of them.

On 25 May 2017 at 00:23, Emerson M. Del Ponte <notifications@github.com>
wrote:

--
Dr Adam H. Sparks
Associate Professor of Field Crops Pathology   |   Centre for Crop Health
|  Office C31

[2017-05-24 21:59] grunwald commented on #9
Might be good to each of us score one paper and then briefly chat over Skype what changes to the scale we think are needed?

[2017-05-24 22:42] adamhsparks commented on #9
Agree

--
Adam H Sparks

On 25 May 2017 at 07:59:27, Niklaus Grunwald (notifications@github.com)
wrote:

[2017-05-25 00:21] zachary-foster commented on #9
I am working on a draft of that now. I will push it to the master branch soon and you all can look at and make any changes.

I am thinking it would be best to not describe them in the spreadsheet itself, but have a separate document. I am making one by adding to [vignettes/reproducibility_criteria](https://github.com/phytopathology/Reproducible.Plant.Pathology/blob/master/vignettes/reproducibility

[2017-05-25 00:51] zachary-foster commented on #9
Ok, just push my draft. Take a look at [vignettes/reproducibility_criteria](https://github.com/phytopathology/Reproducible.Plant.Pathology/blob/master/vignettes/reproducibility_criteria.Rmd) and see if you want changes.

I removed the "reproducibility_score" from the data collection spreadsheet since that can be calculated in R after we are done with data entry. No need for us to actually add thin

[2017-05-25 01:03] adamhsparks commented on #9
Thanks for that. I'll have a look later.

Are supplemental materials available? True/False

--
Adam H Sparks

On 25 May 2017 at 10:51:03, Zachary Foster (notifications@github.com) wrote:

[2017-05-25 01:10] emdelponte commented on #9
Are not the `x_avail` variables specifying the kind of `supl_mats` ? A reference list, for example, not related with reproducibility, could be in supplemental material, is this what we want?

[2017-05-25 19:45] zachary-foster commented on #9
Yea that makes sense.

I think both make sense, although the `x_avail` fields are much more relevant to reproducibility. However, its pretty easy to put a T/F for supplemental materials, so we might as well. Having supplemental materials certainly does not indicate reproducibility, but their presence is probably correlated with it.

[2017-06-20 05:59] adamhsparks commented on #13
In the "page_charges" column, I'm assuming this is just TRUE/FALSE. Are we referring only to the article or the journal itself since this may vary by journal depending on open access or not, etc.?

[2017-06-20 06:21] adamhsparks commented on #13
@zachary-foster I finally read your vignette on the fields, I am sorry. I keep getting pulled away from this to other things. I made a few comments and spelling corrections there.

I'm fixing a few more issues with the final evaluation sheet output from R, duplicated rows mainly, right now and hope to have it ready to go this afternoon.

[2017-06-21 00:41] adamhsparks commented on #13
I think that I have the [article_notes](https://docs.google.com/spreadsheets/d/1pwUnvJgcnvwg-b8vLEbrdAbIpS6Rdbd0lIiZJi2-GfI/edit?usp=sharing) sheet ready for our inputs, finally. I've locked the other two now since we should edit the third, final table.

This latest version has the impact factor, thanks @grunwald, and the bibliography data that I was able to retrieve using the DOI.

The columns fo

[2017-06-22 21:44] zachary-foster commented on #13
Hi @adamhsparks. No worries, I have not looked at this in a while either. I was in the forest with no usable Internet for the past few days, so I am just seeing this now. The spread sheet looks good. If we are ok with the fields and their definitions, then we should each do a few articles and then have a conference call or something to decide if we want any last minute changes. I will start on min

[2017-06-23 13:51] emdelponte commented on #13
Hello! I started to download the articles. I am planning to do a few and then we can talk.

[2017-06-29 22:50] zachary-foster commented on #13
Hi @adamhsparks, which sheet in the [article_notes](https://docs.google.com/spreadsheets/d/1pwUnvJgcnvwg-b8vLEbrdAbIpS6Rdbd0lIiZJi2-GfI/edit?usp=sharing) are we entering data in? I noticed some rows filled out in the "template" sheet, but none in the other two. Also the first two sheets are locked for me. Thanks

[2017-06-29 22:52] adamhsparks commented on #13
It's the one that is not locked. The foulest two are used in preparation of
the third.

--
Adam H Sparks

On 30 June 2017 at 08:50:30, Zachary Foster (notifications@github.com)
wrote:

[2017-07-04 00:28] adamhsparks commented on #13
Bugger, I just realised that the third sheet doesn't have all of the assignees! I don't know what happened.

[2017-07-04 00:44] adamhsparks commented on #13
I've fixed that issue. I'll move any of the evaluations over to the new sheet and clean up my mess.

You all shouldn't see any difference other than all articles have been assigned but may not have full bibliographic information.

[2017-07-04 01:06] adamhsparks opened #15 "In the article assignments, Nik has too many articles"
Somehow in the assigning Nik ends up with 52 rows not 50.

I think an article or two get duplicated. I'll look into it.

[2017-07-05 03:31] adamhsparks commented on #15
Fixed with https://github.com/phytopathology/Reproducible.Plant.Pathology/commit/031b95131656e0e32ac93080c5744a26171420e9 along with a bunch of other problems I found while doing this

[2017-07-05 03:31] #15 closed

[2017-07-05 03:33] adamhsparks commented on #13
All-
I've highlighted the fields that we need to pay attention to and enter with a lighter colour for each of us and bold font in the "article_evaluations" tab.

https://github.com/phytopathology/Reproducible.Plant.Pathology/commit/031b95131656e0e32ac93080c5744a26171420e9

I hope that makes sense. When I entered my information just now, I did find it easier to use with the colour shading different

[2017-07-05 03:34] #12 closed

[2017-07-05 03:35] #10 closed

[2017-07-05 03:36] adamhsparks commented on #8
Automated using `bib2df` and searching for DOI for bib entries.

Will manually enter values that the DOI search doesn't find in the Google Sheets.

[2017-07-05 03:36] #8 closed

[2017-07-05 04:35] adamhsparks commented on #12
In light of the suggestion here, using Google Sheets, I've deleted the branches that I created.

I've left yours, since you've created it, @zachary-foster.

[2017-07-05 08:07] adamhsparks opened #16 "Removed "page_fees" from evaluation"
I removed the page fees field, there was some discussion in the vignette around it and it was deemed difficult to determine, I'm also not sure how useful it is for our purposes, so I've removed it.

[2017-08-13 04:23] emdelponte opened #17 "Article writing"
@adamhsparks @grunwald @zachary-foster

I did some work on the manuscript [Rmd file](https://github.com/phytopathology/Reproducible.Plant.Pathology/blob/master/inst/paper/What%20Does%20Reproducible%20Research%20Mean%20for%20Plant%20Pathology.Rmd) and committed the changes:

- Inserted portions of text for the abstract and introduction sections
- Made and included diagram in the text using [Diagram

[2017-08-13 04:33] adamhsparks commented on #17
https://stackoverflow.com/questions/30307191/using-diagrammer-in-word-document-generated-using-rmarkdown#32094377

[2017-08-13 04:35] adamhsparks commented on #17
I like it! It illustrates the idea very nicely. Thanks Emerson.

I saw your e-mail, just hadn't responded yet.

[2017-08-13 17:55] emdelponte commented on #17
@adamhsparks
I followed the above example on how to include the DiagrammeR image file in Word format but it is not working. It seems the PhantomJS (phantomjs.org) is not working properly on my mac after downloading and running the executable.

[2017-08-13 20:58] adamhsparks commented on #17
OK, thanks @emdelponte, I've not tried it yet. Was working on _bomrang_ over the weekend.

I'll have a go on my Macs and see what happens.

[2017-08-14 02:18] adamhsparks commented on #17
Fixed, can now export to MS Word and generate a PDF of the figure: https://github.com/phytopathology/Reproducible.Plant.Pathology/commit/d8778f7eb7dec7c940b949e617406290ddc2c88a

I do like the HTML page though, wonder if there's a way to do both...

[2017-08-14 14:10] emdelponte commented on #17
Thanks @adamhsparks. Why do we need the MS Word file? the HTML file should work as our pre-print version. We could submit a PDF file of the main text to Phytopathology, together with the figures.

[2017-08-14 17:16] zachary-foster commented on #17
Looks good! I will take a closer look today and get back to you.

[2017-08-14 20:55] adamhsparks commented on #17
@emdelponte,
If I'm reading this right from http://apsjournals.apsnet.org/page/authorinformation#checklist, the text file needs to be something in a test file format, not a PDF? That's why I'd like both versions, should be doable with the YAML, I've just not fussed with it yet. The Word version follows a template that I've made to output a Word document that follows the APS journals style guidelin

[2017-08-14 21:29] emdelponte commented on #17
@adamhsparks they are more flexible about figure formats lately. In my latest submission, the figures were accepted in PNG high resolution. Your MS Word template is fine and I guess that some reviewers would like to download the MS Word file for sending comments, edits, etc. However, I suggest that our Rmd file for submission contains only the main text, not the figures, which should be in another

[2017-08-14 21:36] adamhsparks commented on #17
True, I don't comment in Word files when I review, but I know others do.

To your point about the figures, I'd generated the PDF of the figure separately for that reason.

I was noticing we needed to do some cleaning and maintenance in the directory with our files. Do you want to do that or should I?

[2017-08-15 01:15] emdelponte commented on #17
You can do the cleaning work. I am still learning how you organized the repo as package. For the updated Rmd files, I suggest shorter file names though. Something like Sparks-etal-maintext.Rmd

As of figures, the `chunks` can be set to `Show nothing` and so the codes could stay there. Alternatively, to avoid lengthy files, we could place the code for the figures, tables and analyses in separate Rm

[2017-08-15 01:25] zachary-foster commented on #17
I read through what we have so far and made a few changes. I will submit a PR so you can easily see what I changed. Good start, Its nice to see the paper coming together!

[2017-08-15 01:30] zachary-foster commented on #17
Oh, I also set up the YAML so that pdf, html, and word outputs are made if you render from the console:

[code]

[2017-08-15 03:48] emdelponte commented on #17
@zachary-foster  Yes, seeing it taking shape may lead us to focus on both writing and the data extraction from the papers. I want to start reading similar papers from other fields to improve introduction. I thought of definitions placed in a box instead of text paragraphs.

[2017-08-15 05:33] #16 closed

[2017-09-03 22:08] adamhsparks opened #19 "Move package structure to rrtools"
@benmarwick has created a very nice R package for research compendia, [rrtools](https://github.com/benmarwick/rrtools).

I've used it elsewhere in my research, https://github.com/phytopathology/rice_awd_pests.

And since this project is already an R package focusing on reproducible research, it seems like a good idea to use the rrtools package to format this compendium.

[2017-09-04 18:53] benmarwick commented on #19
Thanks, do let me know how rrtools fits into your conventions for making your work more reproducible.

I've tried to make rrtools a toolkit for making it easier to do what I see people doing 'in the wild'. There are still a lot of open questions about what is the best or most natural way to organise a research compendium. Everyone has an opinion, but I'm most interested to see what people are actu

[2017-09-04 21:03] adamhsparks commented on #19
In my [awd.rice.pests](https://github.com/phytopathology/rice_awd_pests) package, I've followed the `data_raw/` convention and created the final data files that reside in `data` and load them to create the vignettes. That seemed, to me, the most natural way of doing it since it is an R package.

[2017-12-19 00:57] emdelponte opened #20 "Paper categorization?"
@adamhsparks @grunwald @zachary-foster

I went through my sample of 50 articles again and came up with this categorization specific to papers in plant disease-related journals. You may want to propose new ones, split or combine categories. I started with applied versus fundamental and would like your input also to check whether the subcategories are in the right category.

The idea is to provide s

[2017-12-19 01:18] zachary-foster commented on #20
I will have to consider this as I read the other half of my articles. I dont have any modifications at the moment, but might later. Good idea; I will keep it in mind and get back to you.

[2017-12-19 01:30] emdelponte commented on #20
Yes, and please try to assign them to these proposed categories. After ~ 30 articles I was not creating any additional subcategory. Let's wait for @adamhsparks and @grunwald comments and  then we could create a new column right after applied/fundamental for these subcategories. In a few articles, there may be a mix of two categories, but mostly will fit well one of those.

[2017-12-19 07:33] adamhsparks opened #21 "Computational tool availablility and data availability ratings"
Thinking back to a thread on Twitter recently, GitHub and the like are not proper repositories. Really we should be ranking availability of scripts and data the highest for being available from libraries (e.g., K-State's KREX, USQ's e-prints, etc.). Zenodo, being CERN might be top tier, but GitHub, FigShare are probably second tier.

[2017-12-19 10:20] emdelponte commented on #20
Once we agree on the categories/subcategories, I will include a column and inspect each article again. This should be associated with journal categories.

[2017-12-19 10:23] emdelponte commented on #21
I agree. This should be recommendation for data/script storage. I would think of Open Science Framework.

[2017-12-20 07:39] adamhsparks commented on #13
Seeing some of Emerson's fields with "?" in them, regarding comments with multiple softwares used.

I've ranked the paper by the lowest rank. That is, if they used R and SAS, it got a 1 for availability because SAS is ranked as 1, no matter what R was ranked (would be 3).

I've used that in all cases where there are multiple values, e.g., R 3.4.3 was cited, but SAS was not given a version number,

[2018-02-01 18:02] emdelponte opened #22 "Not building the pkgdown site locally"
I get this error when I try to build the site. The website does not build the new Rmd file in the DOC folder.

Error in yaml::yaml.load(string, ...) :
  Scanner error: while scanning a simple key at line 2, column 1 could not find expected ':' at line 3, column 1
In addition: Warning message:
In strptime(x, fmt, tz = "GMT") :
  unknown timezone 'zone/tz/2017c.1.0/zoneinfo/America/Sao_Paulo'

[2018-02-01 21:10] adamhsparks commented on #22
Since this works for me on all of my machines I've tested, I suspect it's a local issue.

1. What version of R do you have installed?

2. What version of `pkgdown` do you have installed?

[2018-04-08 20:50] adamhsparks opened #23 "Check that bib file of references in ext-data is up-to-date"
Some articles were changed during the reviewing. Double check the bib file of reviewed articles against the bib file and make sure it's correct.

[2018-04-08 20:51] adamhsparks commented on #22
@emdelponte did you ever get this sorted? It's still working fine for me.

[2018-06-08 12:41] #22 closed

[2018-06-08 12:44] #20 closed

[2018-06-08 12:44] #19 closed

[2019-04-13 09:24] adamhsparks opened #39 "We have both gsheets and googlesheets used in the package"
Would be good to just use one not both.

[2019-05-21 08:36] #23 closed

[2020-02-29 10:00] adamhsparks commented on #3
Need to revise this section to cover the new articles from @emdelponte and @AlvesKS that I've integrated into the

[2020-02-29 10:07] adamhsparks commented on #3
Oops, I already covered that here, https://github.com/openplantpathology/Reproducibility_in_Plant_Pathology/blob/master/vignettes/b2_assigning_articles.Rmd. I do need to update this document though.

[2020-02-29 10:07] #3 closed

[2020-02-29 10:07] adamhsparks opened #49 "Update document detailing second round of articles surveyed"
Text in this document needs to be checked, and updated as necessary https://github.com/openplantpathology/Reproducibility_in_Plant_Pathology/blob/master/vignettes/b2_assigning_articles.Rmd

[2020-03-31 05:51] adamhsparks commented on #9
Closing this as the evaluations are all completed

[2020-03-31 05:51] #9 closed

[2020-03-31 05:51] #21 closed

[2020-03-31 05:52] adamhsparks commented on #13
Evaluations done. Closing this.

[2020-03-31 05:52] #13 closed

[2020-03-31 05:52] adamhsparks opened #50 "Other references to include when writing"
https://academic.oup.com/joc/advance-article/doi/10.1093/joc/jqz052/5803422

[2020-04-21 11:10] adamhsparks opened #51 "Add tests for internal functions"
mainly `import_rrpp()` should be tested

[2020-04-21 11:10] #49 closed

[2020-05-07 10:50] adamhsparks commented on #50
https://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.3000698

[2020-05-18 08:45] adamhsparks commented on #39
Closed with https://github.com/openplantpathology/Reproducibility_in_Plant_Pathology/commit/58c7ef4287890a52cfc20af4a82b810cb9be47de

[2020-05-18 08:45] #39 closed

[2020-07-20 07:05] adamhsparks commented on #50
https://science.thewire.in/the-sciences/scholarly-publishing-infrastructure-reliability-affordability-functionality/

[2020-07-20 07:08] adamhsparks commented on #11
I wonder, this article: https://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.3000698#sec004 did look at the number of citations.

That could be interesting. I'll see if I can get something put together.

In the meantime, there are some analyses in the documentation now that cover what we discussed here along with a few others. See the Analysis articles here:  https://openplantpath

[2020-07-21 22:20] adamhsparks commented on #11
Emerson pointed out in Slack (and rightly so) that our scores are so low across the board, we aren’t likely to see any effects of citations vs the index.

[2021-06-03 01:04] adamhsparks opened #52 "Add multipanel figure of the four indices"
A 2x2 figure with the index ratings of:

* citation,
* software,
* code avail. and
* data avail,

[2021-06-11 07:53] adamhsparks commented on #52
Closed with cfe42cc3dccdd480e794d0c5ccfa853e650ff2be

[2021-06-11 07:53] #52 closed

[2021-06-11 07:59] adamhsparks commented on #11
The analysis is complete. Feel free to reopen if anyone has any other suggestions, but I'm closing open issues now as we approach publication.

[2021-06-11 08:00] adamhsparks commented on #17
Paper is mostly drafted. I'll close this now as we approach publication.

[2021-06-11 08:00] #17 closed

[2021-06-11 08:01] #2 closed

[2021-06-11 08:06] adamhsparks opened #53 "Paper title needs to be decided on"
An early working title we had was:
"What Does Reproducible Research Mean for Plant Pathology?"

We also had:
"How Can We Open Plant Pathology?"

Currently, it is:
"Insights Into Computational Reproducibility in Plant Pathology and a Way Forward"

The current version is appropriate for a paper, but we're leaning toward a letter to the editor, so this needs to be revisited with an eye toward that fo

[2021-06-11 11:31] emdelponte commented on #53
My suggestion for the title:

"Reproducibility and plant pathology: where do we stand in and a way forward"

I like the idea of letter to the editor. In this case, I would place all tables in the supplemental materials and keep only the two figures in the main text. Alternatively, the material and methods could be shown as supplemental as well instead of appendix?

[2021-06-11 11:31] emdelponte commented on #53
@adamhsparks see comments above

[2021-06-11 20:36] zachary-foster commented on #53
Both the current title and @emdelponte 's suggestion sounds good to me.

[2021-06-12 00:26] adamhsparks commented on #53
"Open science is coming to plant pathology, are we ready?"

[2021-06-17 08:53] adamhsparks commented on #53
Renamed with "Reproducibility and plant pathology: where do we stand and a way forward"

[2021-06-17 08:53] #53 closed

[2021-06-21 20:06] grunwald opened #54 "Figures"
Figure 2 is cited before figure 1, and this needs to be changed before submission. They should be cited in order of appearance. Also, Phytopathology would have figures labeled with letters such as Figure 1A.

[2021-06-22 01:13] adamhsparks commented on #54
Still need to figure the subfigure designation.

[2021-06-22 01:16] #54 closed

[2021-06-24 07:50] adamhsparks commented on #51
Closed with https://github.com/openplantpathology/Reproducibility_in_Plant_Pathology/commit/046718cb7e5b2ec9b4b6cfa82ee8074df8be7ef9

[2021-06-24 07:50] #51 closed

[2021-06-24 07:59] adamhsparks commented on #50
Closed with 523253853d903e6bf963e8e4dd20019bd97891de

[2021-06-24 07:59] #50 closed